.dark {
    background-color: black;
}

.light {
    background-color: white;
}

.background-dark-color {
    background-color: black;
}

body {
    padding: 25px;
    background-color: white;
  
    font-size: 25px;
}

.dark-mode {
    background-color: #23272A;
    color: white;
}

.navbar-bg {
    background-color: #0D0D15;
}

nav a {
    color: rgb(135, 135, 135);
    font-family: Readex Pro, sans-serif;
    font-size: 17px;
}

.border-bottom-own {
    border-bottom: 3px solid rgb(0, 1, 197);
}

.btn-secondary-own {
    color: #fff;
    background-color: #001528;
    border-color: #001121;
}

.btn-secondary-own:hover {
    color: #fff;
    background-color: #003D6A;
    border-color: #001121;
}

.alert-danger-own {
    color: #721c24;
}