.dark {
    background-color: black;
}

.light {
    background-color: white;
}

.background-dark-color {
    background-color: black;
}

body {
    padding: 25px;
    background-color: white;
  
    font-size: 25px;
}

.dark-mode {
    background-color: #313638;
    color: white;
}

.own-navbar {
    background-color: #423e37;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}