@page
@model GamingSiteProject.Brugere.BrugereModel
@{
    ViewData["Title"] = "Profile";
    
}

    <div class="text-center">
    <h1 class="display-4">Fuck this shit</h1>
    <p>Hey Ho <a href="https://docs.microsoft.com/aspnet/core">Hey</a>.</p>
</div>
