@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container" align="center">
    <header class="h1">GamingSite</header>
    <p>
        @Html.TextBox("BrugerID")
    </p>
    <p>
        @Html.TextBox("Password")
    </p>
    <p>
        <button type="button" id="OpretBruger" class="btn" onclick="window.location.href = '/Login'">Login</button>
    </p>
    <p>
        <button type="button" class="btn" onclick="window.location.href = '/OpretBruger'">Ingen Bruger?</button>
    </p>
</div>