@page
@using GamingSiteProject.data
@using GamingSiteProject.services
@using System.Linq
@model GamingSiteProject.Pages.OpretSpilleListeModel
@{
    ViewData["Title"] = "CreateGameList";
    Layout = "Shared/_LayoutUser";
}
<body>
    <div class="container" align="center">
        <p><img src="logo.png" alt="..." height="200" /></p>
        <h1 style="font-family: sans-serif">Opret Liste</h1>
        <div class="container" align="center">
            <div class="col-md-4">
                <form method="post">
                    <div class="form-group">
                        <label>1.</label>
                        <input type="text" asp-for="Bruger.GamesList" class="form-control text-center" placeholder="Spil Nummer 1" />
                        <span asp-validation-for="Bruger.GamesList" class="text-danger" style="font-size: 15px"></span>
                    </div>
                    <div class="form-group">
                        <label>2.</label>

                        <input type="text" asp-for="Bruger.GamesList" class="form-control text-center" placeholder="Spil Nummer 2" />
                        <span asp-validation-for="Bruger.GamesList" class="text-danger" style="font-size: 15px"></span>
                    </div>
                   
                    <div class="form-group">
                        <input type="submit" value="Tilføj til liste" onclick="" class="btn btn-primary" />
                    </div>
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '/SpilleListe'">Annuller</button>
                </form>
            </div>
        </div>
    </div>


<script>

    

</script>


</body>