@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "Shared/_LayoutUser";
}
<h1 class="alert-heading" align="center">@ViewData["Title"]</h1>

<p>Mads & Frederik GamingSite.</p>
