@page
@using GamingSiteProject.data
@model GamingSiteProject.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "Shared/_LayoutUser";
    
}

<body>
<div class="container">
    <div class="figure-img">
        <img />
    </div>
    
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container" align="center">
                <button id="posts" class="btn-secondary" onclick="">Posts</button>
                
                <button class="btn-secondary" onclick="" type="button">My Lists</button>

                <button class="btn-secondary" onclick="" type="button">Followers</button>

                <button id="" class="btn-secondary" onclick="" type="button">Following</button>
                
            </div>
        </div>
    </nav>*@
    
    <nav class="profile-navbar-bg navbar navbar-expand-sm navbar-bg box-shadow rounded mb-3">
        <a class="navbar-brand" href="/Profile">@Model.loggedinuser.Navn</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Profile">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/SpilleListe">My Lists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Followers">Followers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/Following">Following</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
    
<div class="container" align="center">
    <header class="h4">My Posts</header>
        


</div>

</body>



<script>
    function userPosts() {
        
    }

</script>
