@page
@using GamingSiteProject.data
@model GamingSiteProject.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "Shared/_LayoutUser";
}

<body>
<div class="container">
    <header class="h1" align="center">Profile: xx</header>
    <div class="figure-img">
        <img />
    </div>
    
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container" align="center">
                <button id="posts" class="btn-secondary" onclick="">Posts</button>
                
                <button class="btn-secondary" onclick="" type="button">My Lists</button>

                <button class="btn-secondary" onclick="" type="button">Followers</button>

                <button id="" class="btn-secondary" onclick="" type="button">Following</button>
                
            </div>
        </div>
    </nav>
</div>

</body>

<script>
    function userPosts() {
        
    }

</script>
