@page
@using GamingSiteProject.data
@model GamingSiteProject.SpilleListe.SpilleListeModel
@{
    ViewData["Title"] = "Gamelist";
    Layout = "Shared/_LayoutUser";
}
<body>
    <div class="container">
        <header class="h1" align="center">Profile: </header>
        <div class="figure-img">
            <img />
        </div>
        <nav class="profile-navbar-bg navbar navbar-expand-sm navbar-bg box-shadow rounded mb-3">
            <a class="navbar-brand" href="#">TheLegend27</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Profile">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/SpilleListe">My Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Followers">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Following">Following</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" align="center">
        <header class="h4">My Gamelist</header>
        <p>
            <a asp-page="#">Create New</a>
        </p>
        <table class="table text-center">
            <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Name of game
                </th>
            </tr>

            </thead>
            <tbody>
            <tr>
                    <td>1. </td>
                </tr>
                <tr>
                    <td>2. </td>
                </tr>
                <tr>
                    <td>3. </td>
                </tr>
                <tr>
                    <td>4. </td>
                </tr>
                <tr>
                    <td>5. </td>
                </tr>
                <tr>
                    <td>6. </td>
                </tr>
                <tr>
                    <td>7. </td>
                </tr>
                <tr>
                    <td>8. </td>
                </tr>
                <tr>
                    <td>9. </td>
                </tr>
                <tr>
                    <td>10. </td>
                </tr>
            
            
            </tbody>
        </table>


    </div>
</body>