@page
@model GamingSiteProject.Startside.StartsideModel
@{
    ViewData["Title"] = "Homepage";
    Layout = "Shared/_LayoutUser";
}

<div class="container" align="center">
    <h1 class="">Velkommen @Model.loggedinuser.Navn til din forside</h1>
</div>