@page
@model GamingSiteProject.Startside.StartsideModel
@{
    ViewData["Title"] = "Homepage";
    Layout = "Shared/_LayoutUser";
}

<div class="container" align="center">
    <h1 class="btn-outline-dark">Velkommen til din forside</h1>


</div>