@page
@model GamingSiteProject.Statistik.StatistikModel
@{
    ViewData["Title"] = "Statistics";
    Layout = "Shared/_LayoutUser";
}


<div class="container" align="center">
    <h1 class="">Statistiker</h1>


</div>